---
title: Charlotte Sailing Center
description: a page description goes here
---

h1 Welcome

p This is our new website, we hope to reguraly post updates here and to have the forms available for download.

h2 News
ul
  li Launch Dates: ???
  li Mooring Inspection: ???
  li Other ?

h2 Forms
p 
  a(href="/uploads/2021 Launch Authorization and Mooring Agreement Form.pdf") 2021 Launch Form