---
title: Classifieds, Boats for Sale
description: List of boats for sale.
---

h1 Classifieds

p Things for sale

.row

  .col-md-4
    .card(style='width: 18rem;')
    img.card-img-top(src='https://images.unsplash.com/photo-1474917518260-23f84bd71c75?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80' alt='Card image cap')
    .card-body
        h5.card-title BOATS, BOATS, BOOOATS!!!
        p.card-text
        | We'll make some happy little bushes here. If we're going to have animals around we all have to be concerned about them and take care of them. I thought today we would make a happy little stream that's just running through the woods here.
        a.btn.btn-primary(href='#') Go somewhere
  .col-md-4
    .card(style='width: 18rem;')
    img.card-img-top(src='https://images.unsplash.com/photo-1575961220373-15004d211e07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=976&q=80' alt='Card image cap')
    .card-body
        h5.card-title BOATS, BOATS, BOOOATS!!!
        p.card-text
        | Very easy to work these to death. The light is your friend. Preserve it. If you hypnotize it, it will go away. Just let go - and fall like a little waterfall. We touch the canvas, the canvas takes what it wants. Let's go up in here, and start having some fun
        a.btn.btn-primary(href='#') Go somewhere
  .col-md-4
    .card(style='width: 18rem;')
    img.card-img-top(src='https://images.unsplash.com/photo-1498994292978-4d6ff757c6dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=917&q=80' alt='Card image cap')
    .card-body
        h5.card-title BOATS, BOATS, BOOOATS!!!
        p.card-text
        | This is unplanned it really just happens. Only eight colors that you need. Exercising the imagination, experimenting with talents, being creative; these things, to me, are truly the windows to your soul. Everything is happy if you choose to make it that way. Everybody needs a friend.
        a.btn.btn-primary(href='#') Go somewhere
  .col-md-4
    .card(style='width: 18rem;')
    img.card-img-top(src='https://images.unsplash.com/photo-1470645792662-dd18394f8c97?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80' alt='Card image cap')
    .card-body
        h5.card-title BOATS, BOATS, BOOOATS!!!
        p.card-text
        | We'll make some happy little bushes here. If we're going to have animals around we all have to be concerned about them and take care of them. I thought today we would make a happy little stream that's just running through the woods here.
        a.btn.btn-primary(href='#') Go somewhere